#slider .carousel-caption{
    margin-bottom: 260px;
}
@media (max-width: 1200px){
    #slider .carousel-caption{
        margin-bottom: 210px;
    }
}
@media (max-width: 992px){
    #slider .carousel-caption{
        margin-bottom: 130px;
    }
    .carousel-caption h1{
        font-size: 35px;
    }
    .carousel-caption h3{
        font-size: 20px;
    }

}
@media (max-width: 768px){
    #slider .carousel-caption{
        margin-bottom: 100px;
    }
    .carousel-caption h1{
        font-size: 30px;
    }
    .carousel-caption h3{
        font-size: 17px;
    }
    .carousel-caption button{
        font-size: 10px;
    }
}
